/*
  Created by: Dida Patria
  Daftar Isi:
  - CSS Utilities (untuk memudahkan mengcustom class secara global)
  - Custom Materialize
*/

/*
  CSS Utilities
  1.1 Padding
  1.2 Margin

  Info Penamaan :
  ---------------------------------
  *a = .. + all
  ---------------------------------
  *l = .. + left
  *r = .. + right
  *x = .. + sumbu x (left + right)
  ---------------------------------
  *t = .. + top
  *b = .. + bottom
  *y = .. + sumbu y (top + bottom)
  --------------------------------- 
*/
/* 1.1 Padding */
.pa-0 {
  padding: 0 !important;
}
  .px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
    .pl-0 {
      padding-left: 0 !important;
    }
    .pr-0 {
      padding-right: 0 !important;
    }

  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
    .pt-0 {
      padding-top: 0 !important;
    }
    .pb-0 {
      padding-bottom: 0 !important;
    }

/* 1.2 Margin */
.ma-0 {
  margin: 0 !important;
}
  .mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
    .ml-0 {
      margin-left: 0 !important;
    }
    .mr-0 {
      margin-right: 0 !important;
    }

  .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
    .mt-0 {
      margin-top: 0 !important;
    }
    .mb-0 {
      margin-bottom: 0 !important;
    }

/*
  CUSTOM MATERIALIZE
  2.1 Header
  2.2 Sidenav
  2.3 Breadcrumb
  2.4 Button
  2.5 Main
  2.6 Textarea
  2.7 Search
  2.8 Body
  2.9 Container
  2.10 Card
*/
header.open, 
footer.open {
  padding-left: 300px;
}

/* 2.1 Header */
header.open .title {
  display: none;
}
header .brand-logo {
  padding: 0 15px;
}
header .dropdown-content {
  top: 50px !important;
}
header nav {
  background: #8c0e0e;
}
/* 2.2 Sidenav */
.sidenav.close {
  -webkit-transform: translateX(-100%) !important;
  transform: translateX(-100%) !important;
}
.sidenav {
  background: #bb0e0e;
  color: #ffffff;
}
.sidenav li>a {
  color: #ffffff;
}
.sidenav li.active,
.sidenav li>a:hover {
  background: #8c0e0e;
}
  .sidenav-burger {
    display: none;
    position: absolute;
    right: 15px;
    color: #fff;
  }
  .sidenav-burger i {
    font-size: 32px;
  }

/* 2.3 Breadcrumb */
.breadcrumb-area {
  margin: 2.3733333333rem 0 1.424rem 0;
}
.color-grey .breadcrumb,
.color-grey .breadcrumb:before {
  color: #c6c6c6;
  margin: 0;
}
.color-grey .breadcrumb:before {
  font-size: unset;
}
.color-grey .breadcrumb:last-child {
  color: #333333;
}

/* 2.4 Button */
.btn {
  border-radius: 20px;
}
.file-field .btn, 
.file-field .btn-large, 
.file-field .btn-small {
  border-radius: 2px;
}

/* 2.5 Main */
main {
  padding: 10px 25px;
}
main.open {
  padding-left: 325px;
}

/* 2.6 Textarea */
textarea.materialize-textarea {
  height: 90px !important;
}

/* 2.7 Search */
.input-search {
  background: #fff;
  border-radius: 10px;
  padding: 5px 15px;
  color: #000;
  position: relative;
  height: 36;
  margin: 15px 0;
}
.input-search i.prefix {
  position: absolute;
  height: 26px;
  line-height: 26px;
}
.input-search input {
  border: none !important;
  margin: 0 !important;
  height: 26px !important;
  width: auto !important;
  display: block;
  padding-left: 25px !important;
}
.input-search input:valid,
.input-search input:focus,
.input-search input:active
{
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* 2.8 Body */
body.bgcolor {
  background: #bb0e0e;
}

/* 2.9 Container */
.container-color {
  background: #ffffff;
}

/* 2.10 Card */
.img-cover {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}

/* Responsive */
@media only screen and (max-width : 992px) {
  header, footer {
    padding-left: 0 !important;
  }
  main {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  header.open .title {
    display: inline-block;
  }
  .sidenav {
    width: 100%;
  }
  .sidenav.close {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
  .sidenav-burger {
    display: block;
  }

  .breadcrumb-area {
    margin-top: 10px;
    font-size: 12px;
  }
  .breadcrumb {
    font-size: 12px;
  }
}